<!-- card.ejs -->
<!-- <% for () %> -->
<div class="flex-item card flex-container">
  <div class="flex-item movie">
    <img src="img/sw4.jpg" alt="Movie Title">
    <h3>Movie Title</h3>
    <h4>Director</h4>
    <ul>
      <li>Main Character 1</li>
      <li>Main Character 2</li>
      <li>Main Character 3</li>
    </ul>
  </div>
  <div class="flex-item movie">
    <img src="img/sw4.jpg" alt="Movie Title">
    <h3>Movie Title</h3>
    <h4>Director</h4>
    <ul>
      <li>Main Character 1</li>
      <li>Main Character 2</li>
      <li>Main Character 3</li>
    </ul>
  </div>
</div>
