/* styles.css */

/* BASIC HTML ELEMENT STYLES */

html {font-size: 100%;}

body {
  background:#eee;
  color:#111;
  font-size: 1rem;
}

main {
  background:#eef;
  padding:1em;
  margin:0;
}

aside {
  background:#fee;
  padding:1em;
  margin:0;
  /*min-width: 25%;*/
  /*width: 30%;*/
  /*max-width: 40%;*/
}

article {
  background:#efe;
  padding:1em;
  margin:0;
}
dl {}
dt {
  font-weight: normal;
  display: block;
}
dt:before {
  content:'•';
  margin: 0 0.25em;
  padding: 0 0.25em;
}
dd {
  font-weight: bold;
  display: inline-block;
  margin-left: 0.5em;
}

small {
  color:#111 !important;
  font-size: 0.875em !important;
  font-weight: normal !important;
}

/* UTILITY CLASSES */

.nowrap {white-space: nowrap;}

/* BASIC SIDEBAR STYLES */

.least:before, 
.most:before {
  content:'\1F44E';
  margin: 0 0.25em;
  padding: 0 0.25em;
  background:black;
  width:2em;
  height:2em;
  border-radius: 1em;
  line-height: 2em;
}
.most:before {
  /*content:'\02713';*/
  content:'\1F44D';
}

/* SIDEBAR MOVIE CRAWLS BAR GRAPH STYLES */

#crawls {
  text-align: center;
  position: relative;
}
#crawls_bars {
  position: relative;
  margin-left: 2em;
  height:200px;
  flex-wrap:nowrap;
  align-items: flex-end;
  background: white;
  border-left: 1px black solid;
  border-bottom: 1px black solid;
}
#crawls_bars:before, 
#crawls_bars:after {
  content:"0";
  text-align: right;
  width:3em;
  position:absolute;
  top:auto;
  right:auto;
  bottom:-0.5em;
  left:-3.5em;
}
#crawls_bars:after {
  content:"600";
  top:-0.5em;
  bottom:auto;
}
#crawls_bars .barBox {
  position: relative;
  height:100%;
}
#crawls_bars .barBox > .bar {
  position: absolute;
  bottom: 0;
  margin:0 0 0 10%;
  width:80%;
}
#crawls_labels {
  margin-left: 2em;
  flex-wrap:nowrap;
}
#crawls_labels .label {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: visible;
  white-space: normal;
  text-align: left;
  color:#333;
}

/* MOVIE INFO CARD STYLES */

#deck {
  flex-flow: row wrap;
}

.card {
  background:#ccc;
  padding:0.5em;
  margin:0 0.5em 1em;
  position: relative;
}

aside > .card {
  background:#cdd;
}

article > .card {
  background:#dcd;
}

.movie {
  background:#ddc;
  padding:1em;
  margin:0;
  min-width:15em;
  width:50%;
  max-width:100%;
}

.card h3 {
  border-bottom: 1px solid rgba(0,0,0,0.18);
}

.characters {
  list-style-type: disc;
  list-style-position: inside;
}

.director:before, 
.characters:before {
  content:"directed by";
  display: block;
  color: rgba(0,0,0,0.5);
  font-size: 1rem;
  font-weight: normal;
}

.characters:before {
  content:"top 3 characters";
}
